[user]
	name = Bram Gotink
	email = bram.gotink@vtk.be

[url "git@github.com:"]
	insteadOf = github:

[push]
	default = matching

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[status]
    relativePaths = true
    showUntrackedFiles = no

[alias]
    # remove a file from index
    unadd = reset HEAD

    # amend
    amend = commit --amend
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[core]
	excludesfile = /Users/bram/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
