[user]
	name = Bram Gotink
	email = bram@gotink.me
	signingKey = 0xDDD857425AF4D83A

[url "git@github.com:"]
	insteadOf = github:
[url "git@gist.github.com:"]
	insteadOf = gist:

[url "git@github.com:bgotink/"]
	insteadOf = bgotink:

[url "git@bitbucket.org:"]
	insteadOf = bitbucket:

[push]
	default = upstream

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[status]
    relativePaths = true
    showUntrackedFiles = no

[alias]
    # Checking out branches
    co = checkout
    sc = switch -c

    # Commits
    amend = commit --amend
    c = commit
    cf = commit --fixup
    cm = commit -m
    wip = commit -m 'WIP' --no-gpg-sign --no-verify

    # Add files
    a = add
    an = add -N
    ap = add -p

    # Unadd files
    unadd = reset HEAD
    ua = reset HEAD

    # push
    ps = push
    pf = push --force-with-lease

    # pull
    pl = pull

    # diff
    d = diff
    dc = diff --cached

    # reset
    r = reset
    rh = reset --hard
    rs = reset --soft

    # status
    s = status
    su = status -u

    # super duper clean
    nuke = clean -xdf

    # pretty logs
    # credit to @amateurhuman
    lol = log --pretty=format:"%C(yellow)%h\\ %C(blue)%ad%C(red)%d\\ %C(reset)%s%C(green)\\ [%an]" --decorate --date=short
    lls = log --pretty=format:"%C(yellow)%h\\ %C(green)%<(20,trunc)%cn\\ %C(blue)%ad%C(red)%d\\ %C(reset)%s" --date=short --decorate
    graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[diff]
	tool = vscode
	submodule = log
[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[merge]
    autostash = true
	tool = vscode
[mergetool "diffmerge"]
    cmd = code --wait --diff \"$MERGED\"

[core]
	excludesfile = /Users/bram/.gitignore_global
[pull]
	rebase = true
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
[sequence]
	editor = interactive-rebase-tool
[rebase]
	autostash = true
