[user]
	name = Bram Gotink
	email = bram@gotink.me

[url "git@github.com:"]
	insteadOf = github:
[url "git@gist.github.com:"]
	insteadOf = gist:

[url "git@github.com:bgotink/"]
	insteadOf = bgotink:

[url "git@github.com:LitusProject/"]
	insteadOf = litus:

[url "bram@162.243.222.7:/git/"]
	insteadOf = burgerking:

[url "git@bitbucket.org:"]
	insteadOf = bitbucket:

[push]
	default = matching

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[status]
    relativePaths = true
    showUntrackedFiles = no

[alias]
    # remove a file from index
    unadd = reset HEAD
    ua = reset HEAD

    # amend
    amend = commit --amend

    # co
    co = checkout

    # master
    master = checkout master

    # commit
    c = commit

    # add
    a = add

    # push
    ps = push
    psh = push

    # pull
    pl = pull
    pll = pull

    # diff
    d = diff
    df = diff
    dc = diff --cached

    # status
    s = status
    su = status -u
    s-u = status -u

[diff]
	tool = diffmerge
	submodule = log
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true

[core]
	excludesfile = /Users/bram/.gitignore_global
